body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ddd1d173;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  text-align: center;
}

#message {
  margin: 20px 0;
  font-size: 3.2em;
  color: #fa0909;
  text-align: center;
}

#details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
